{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'personalExpenses/functions.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'personalExpenses/style_dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Source+Code+Pro:wght@500&display=swap"
        rel="stylesheet">
    
    <title>Dashboard</title>
</head>
<body>
    <div class="body">
        <input type="checkbox" name="" id="check">
        <label for="check">
            <i class="material-icons" id="btn">menu</i>
            <i class="material-icons" id="cross">cancel</i>
        </label>
        <div class="sidenav">
            <header>Hi there!</header>
            <ul>
                <li>Dashboard</li>
                <li>
                    <form action="{% url 'new_expenses' %}">
                        {% csrf_token %}
                        <button type="submit" name="addExpenses">Add Expenses</button>
                    </form>
                </li>
                <li>
                    <form action="{% url 'logOutUser' %}" method="post">
                    {% csrf_token %}
                        <button type="submit" name="logOutButton">Logout</button>
                    </form>
                </li>
                
                
            </ul>
        </div>
        
        <div class="content">
            <header>Hi there! {{ user }}</header><br>
            {{error}} <br><br>

            <input type="hidden" name="year_data" id="year_data" value="{{ yearData }}">

            <button onclick="display_chart3()">Get Charts</button>
            <canvas id="myChart1"></canvas>
            <canvas id="myChart2"></canvas>
            <canvas id="myChart3"></canvas>
        </div>
    </div>

</body>
</html>
